<!-- OVERLAY -->
<div [@fadeInOut] (click)="close.next()" class="cm-overlay">

    <!-- OVERLAY CONTENT -->
    <div 
      class="cm-overlay-content"
      (click)="$event.stopPropagation()"
      [style.max-width.px]="ui.modalWidthPX"
      [style.padding.px]="ui.modalPaddingPX"
    >
      
      <!-- CLOSE --> 
      <flex-col-center-center style="width: 50px; height: 50px; cursor: pointer; position: absolute; top: 0px; right: 0px;" (click)="close.next()">
          <i class="material-icons" style="font-size: 40px; color: lightgray;">clear</i>
      </flex-col-center-center>
      
      <!-- CONTENT -->
      <ng-content></ng-content>
  
    </div>

    <!-- just space -->
    <div [style.height.px]="400"></div>
  
  </div>