<!-- header --> 
<flex-row-center style="box-shadow:0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12); background-color: #3e454d; padding: 10px 0px; align-items: center; width: 100vw;">
    
    <flex-row [style.max-width.px]="ui.contentWidthPX" style="width: 100%; align-items: center;">
      <img src="/assets/colormass-logo-cm.png" [routerLink]="['/']" height="30" alt="color mass logo" style="outline: none; cursor: pointer; margin-right: 30px;">
      <div class="nav-item" [routerLink]="['models']" routerLinkActive="active">Models</div>
      <div class="nav-item" [routerLink]="['materials', 'list']" routerLinkActive="active">Materials</div>
      <div class="nav-item" [routerLink]="['images']" routerLinkActive="active">Images</div>
      <div class="nav-item" [routerLink]="['users']" routerLinkActive="active">Users</div>
      <div class="nav-item" [routerLink]="['customers']" routerLinkActive="active">Customers</div>
      <div class="nav-item" [routerLink]="['tags']" routerLinkActive="active">Tags</div>

    </flex-row>
</flex-row-center>  

<!-- content -->
<div style="min-height: 100vh; margin-top: 0px; background-color: white; background-image: url('/assets/bg-scribble-light.png');">
    <!-- router outlet -->
    <router-outlet></router-outlet>
</div>
  
<div *ngIf="backend.materialsLoading" style="position: fixed; top: 0; left: 0; width: 100%;">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
  
 

<!-- media bar -->
<flex-row style="z-index: 3; background: white; position: fixed; bottom: 0; left: 0; width: 100vw; height: 200px; padding: 30px; overflow-x: scroll;" [style.display]="mediaBar ? 'flex' : 'none'">
  <app-file-drop [size]="200"></app-file-drop>
  <img *ngFor="let image of backend.images" [src]="image.url + '&w=200&h=200'" 
    (click)="ui.boardcastImageClick(image.url)"
    style="width: 200px; margin-right: 20px;"
  />

</flex-row>