<!-- LOADING INDICATOR -->
<div *ngIf="backend.materialsLoading" class="cm-loading-indicator">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<!-- HEADER -->
<header>
  <flex-row class="cm-header-bar">
    <app-content-width>
      <flex-row-start-center>
        <img class="cm-header-logo" [src]="environment.production ? '/angular/assets/colormass-logo-cm.png' : '/assets/colormass-logo-cm.png'"
          [routerLink]="['/']" height="30" alt="color|mass logo">
        <div class="cm-nav-item" [routerLink]="['models']" routerLinkActive="active">Models</div>
        <div class="cm-nav-item" [routerLink]="['materials', 'list']" routerLinkActive="active">Materials</div>
        <div class="cm-nav-item" [routerLink]="['images']" routerLinkActive="active">Images</div>
        <div class="cm-nav-item" [routerLink]="['users']" routerLinkActive="active">Users</div>
        <div class="cm-nav-item" [routerLink]="['customers']" routerLinkActive="active">Customers</div>
        <div class="cm-nav-item" [routerLink]="['tags']" routerLinkActive="active">Tags</div>
      </flex-row-start-center>
    </app-content-width>
  </flex-row>
</header>

<!-- ROUTER OUTLET -->
<div class="cm-content-area">
  <router-outlet></router-outlet>
</div>

<!-- MEDIA BAR -->
<flex-row class="cm-media-bar" *ngIf="mediaBar">
  <app-file-drop [size]="200"></app-file-drop>
  <img *ngFor="let image of backend.images" [src]="image.url + '&w=200&h=200'" (click)="ui.boardcastImageClick(image.url)"
    style="margin-right: 20px;" />
</flex-row>

<!-- FOOTER -->
<footer class="cm-footer">
  <app-content-width>
    <flex-row-center (click)="backend.materialOptions.allowAdding = true">
      Demo App by Martin Micklinghoff
    </flex-row-center>
  </app-content-width>
</footer>