<!-- FILTERS -->
<app-content-width class="cm-filter-row">
    <inline-block *ngFor="let filter of backend.materialOptions.filters" class="cm-filter-label" (click)="applyFilter(filter)" [class.selected]="backend.materialOptions.filter == filter">
        {{ filter }}
      </inline-block>
      <mat-checkbox style="display: inline-block; margin-left: 100px; font-size: 14px; color: gray; align-items: center;" [(ngModel)]="backend.flags.infinityScroll" (change)="applyFilter('All')">Infinite Scroll</mat-checkbox>
</app-content-width>


<!--GRID -->
<app-content-width class="cm-grid-content row">
    <div class="row">
      <!-- CARD -->
      <app-responsive-card #card *ngFor="let material of backend.materials" [@fadeInOut] 
        class="cm-material-card col-xs-12 col-sm-6 col-md-4 col-lg-3"
        (click)="selectMaterial(material)">
        <relative-block>
            <img #img [style.height.px]="+img.scrollWidth" class="cm-card-image" mat-card-image [src]="material.imageURL ? material.imageURL + '&w=300&h=300' : backend.placeholderImg()" alt="Photo of {{ material.name }}">
            <flex-row class="cm-material-card-tags">
                <mat-chip-list>
                  <mat-chip *ngFor="let tag of material.tags">{{ tag }}</mat-chip>
                </mat-chip-list>
            </flex-row>
          </relative-block>
          <flex-row-center class="cm-material-card-name">{{ material.name }}</flex-row-center>
      </app-responsive-card>
      <!-- END OF CARD -->
  </div>
</app-content-width>


<!-- LOAD MORE -->
<flex-row-center>
  <button #nextButton class="cm-load-more-button" [style.opacity]="!backend.materialsLoading && backend.moreMaterials && !backend.flags.infinityScroll ? 1 : 0" (click)="backend.loadMaterialsPage(this.backend.materialOptions.filter)">load more materials</button>
</flex-row-center>


<!-- MATERIAL DETAIL OVERLY -->
<app-modal-overlay *ngIf="selectedMaterial" (close)="closeModal()">
  <app-material-detail [material]="selectedMaterial"></app-material-detail>
</app-modal-overlay>


<!-- ADD MATERIAL -->
<div *ngIf="backend.materialOptions.allowAdding" style="position: fixed; bottom: 20px; right: 20px;">
    <button mat-fab color="primary" (click)="startMaterial()">
        <span style="font-size: 40px; color: white;">+</span>
    </button>
</div>